<div id="newChannelModal" class="modal fade" role="dialog" ng-init="clicked = false">
    <div class="modal-dialog ">

        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Add Channel</h4>
            </div>
            <div class="modal-body">

                <form ng-submit="addChannel()" ng-init="name = ''">
                    <div class="form-group">
                        <label for="product-name">Channel name:</label>
                                <validated-input type="'text'"
                                                 id="'newChannelName'"
                                                 model="newChannel.name"
                                                 isValid="newChannelIsValid"></validated-input>
                        <success-button ng-model="clicked"></success-button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
