<div class="form-group has-feedback"
     ng-class="{'has-error': form.input.$touched && form.input.$invalid,
                'has-success': form.input.$touched && form.input.$valid}"
     ng-form name="form">
    <label class="control-label"
           for="{{$ctrl.id}}">
        {{$ctrl.label}}
    </label>

    <input type="{{$ctrl.type}}"
           name="input"
           id="{{$ctrl.id}}"
           class="form-control"
           min="{{$ctrl.min}}"
           ng-model="$ctrl.model"
           placeholder="Channel name..." 
           ng-blur="$ctrl.setValid(form.input.$valid)"
           required />

    <span class="glyphicon form-control-feedback"
          ng-class="{'glyphicon-remove': form.input.$invalid,
                     'glyphicon-ok':form.input.$valid}"
          ng-show="form.input.$touched"></span>
</div>
